<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.farmers.underground">

    <application
        android:name=".FarmersApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.activities.MainActivity">

        </activity>
        <activity android:name=".ui.activities.TutorialActivity"
                  android:theme="@style/TutorialActivityTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
